config.h.in~
*.[oa]
/dbg/
/release/
/build/
/autom4te.cache/
.cproject
.project
.settings
*.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
config.log
config.status
configure
stamp-h1
depcomp
install-sh
ltmain.sh
m4/
missing
cmake/
*.l[oa]
*.pc
libtool
pcp_app/pcp
pcp_server/pcp-server
