config.h.in~
*.[oa]
/dbg/
/release/
/build/
/autom4te.cache/
.cproject
.project
.settings
*.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
cmake/
